<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qubanzhuan.mapper.OrderMapper">

    <select id="getOrders" parameterType="java.lang.String" resultType="com.qubanzhuan.bean.Order">
        select machine_code machineCode,order_id orderId,product_name productName,price productPrice
         from business_order
         order by create_date desc
         limit 50;
    </select>

</mapper>